//====================================================================================================
.header {
	background-color: #ffa3b0;

	// .header__container
	&__container {
	}
	// .header__body
	&__body {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: flex-end;
		min-height: 64px;
		padding: 5px 0;
		@media (max-width: em(550)) {
			justify-content: center;
			min-height: 44px;
		}
	}
	// .header__logo
	&__logo {
		position: absolute;
		top: 0;
		left: -89px;
		@media (max-width: em(550)) {
			display: none;
		}
	}
	// .header__desc
	&__desc {
		display: flex;
		align-items: center;
		gap: 124px;
		@media (max-width: em(700)) {
			display: none;
		}
	}
	// .header__aCall
	&__aCall {
		color: #4f1b0a;
	}
	&__mobileTitle {
		display: none;
		color: #fff;
		font-size: 12px;
		@media (max-width: em(700)) {
			display: block;
		}
	}
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
